@use 'sass:math';
@use 'sass:meta';
@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

:root {
  --width-base: #{$desktop-md};
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);

  @include devices {
    --width-base: 375;
    --width-current: 100vmin;
  }
}

html {
  width: 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-decoration-skip: objects;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
fieldset,
figure,
picture,
blockquote {
  font-size: inherit;
}

a,
button,
[type='button'] {
  color: currentcolor;
  cursor: pointer;
}

button,
[type='button'] {
  appearance: none;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

img {
  height: 100%;

  &[draggable='false'] {
    pointer-events: none;
    // stylelint-disable-next-line
    -webkit-user-drag: none;
  }

  .is-browser-chrome &:not([data-aos]) {
    transform: translateZ(0);
  }
}

svg {
  fill: none;
  height: 100%;
  width: 100%;
}

figure,
picture {
  display: block;
  line-height: 0;
}

fieldset {
  border: 0;
}

ul,
ol,
li {
  display: block;
  list-style: none;
}

iframe {
  display: block;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-to {
  transition: opacity 1s ease;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  @include devices {
    min-height: 100svh;
  }
}

.loading-overlay {
  align-items: center;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.loading-spinner {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  height: 40px;
  width: 40px;

  // animation: spin 1s linear infinite;
}

// Screen reader only
.sr-only {
  border-width: 0;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  margin: 0 auto;
  max-width: vc(1200);
}
